/* App.css - Now using Tailwind CSS for styling */

.App {
  min-height: 100vh;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #111827; /* soft charcoal */
  color: #e5e7eb; /* light gray text */
}
